REACT_APP_BACKEND_API = "YOUR BACK END API"
REACT_APP_CLOUDINARY_CLOUD_NAME = "YOUR CLOUDINARY_CLOUD_NAME"
REACT_APP_CLOUDINARY_UPLOAD_PRESET ="YOUR CLOUDINARY_UPLOAD_PRESET"
REACT_APP_GOOGLE_CLIENT_ID = "YOUR GOOGLE_CLIENT_ID"
REACT_APP_GOOGLE_CLIENT_SECRET="YOUR GOOGLE_CLIENT_SECRET"
REACT_APP_APPLICATION_IDENTIFIER="APPLICATION_IDENTIFIER"
REACT_APP_CHATGPT_API_KEY="YOUR CHATGPT_API_KEY"
REACT_APP_CHATGPT_URL="YOUR CHATGPT_URL"
REACT_APP_FACEBOOK_URL="YOUR FACEBOOK_URL"
REACT_APP_GOOGLE_MAP_URL="YOUR GOOGLE_MAP_URL"
REACT_APP_NUMBER_POSTS_OF_LIMIT = 8
REACT_APP_NUMBER_BLOGS_OF_LIMIT = 5

REACT_APP_THANK_YOU_EMAIL="YOUR THANK_YOU_EMAIL"