
.blog-detail-container {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 40px;
}

.blog-detail-title {
    font-size: 32px;
    margin: 20px auto;
    text-transform: uppercase;
    width: 90%;
    line-height: 1.2;
}

.blog-detail-description {
    width: 90%;
    line-height: 1.6;
}

/* Sử dụng Media Queries để điều chỉnh bố cục cho các màn hình nhỏ hơn */
@media (max-width: 320px) {

    /* Kích thước màn hình tương ứng với iPhone 5 SE */
    .blog-detail-title {
        font-size: 28px;
    }

    .blog-detail-description {
        font-size: 14px;
    }
}