
.blog-detail-container {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.blog-detail-title {
    font-size: 32px;
    margin: 20px auto;
    text-transform: uppercase;
    width: 90%;
    line-height: 1.2;
    font-weight: bold;
}

.blog-detail-description {
    width: 90%;
    line-height: 1.6;
}


@media (max-width: 320px) {


    .blog-detail-title {
        font-size: 28px;
    }

    .blog-detail-description {
        font-size: 14px;
    }
}